{% extends "layout.html" %}
{% block body %}
    <div class="row">
        <div class="col-md-12">
            <h1 class="display-4">Borrow History</h1>
            <p class="lead">Below are listed all the books you borrowed.
                You can leave comment & rating by clicking the link.</p>
        </div>
    </div>
    {% with messages = get_flashed_messages() %}
        {% if messages %}
            <div class="row">
                <div class="col-md-12">
                    <div class="alert alert-success">
                        {% for message in messages %}
                            {{ message }}
                        {% endfor %}
                    </div>
                </div>
            </div>
        {% endif %}
    {% endwith %}
    <div class="row mt-3">
        <div class="col-md-12">
            {% if borrows|length > 0 %}
                <table class="table mt-3">
                    <thead class="thead-dark">
                    <tr>
                        <th scope="col">Title</th>
                        <th scope="col">Borrow Date</th>
                        <th scope="col">Return Date</th>
                        <th scope="col"></th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for borrow in borrows %}
                        <tr>
                            <th scope="row">{{ borrow.book_title }}</th>
                            <td>{{ borrow.taken_date }}</td>
                            <td>{{ borrow.brought_date }}</td>
                            <td>
                                <a href="{{ '/comment-rating/' ~ borrow.isbn }}">Comment & Rating</a>
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            {% endif %}
        </div>
    </div>
{% endblock %}